ul.dist 
      {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:deeppink
        ;
      }

     li.part1
     {
       float: left;
       border-right: 2px solid #111;
     }
      li.part2
     {
       float: left;
       border-right: 2px solid #111;
     }
      li.part3
     {
       float: left;
       border-right: 2px solid #111;
     }
     li a 
     {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
     }
     li a:hover 
     {
         background-color:#111;
     }